
<h3>Application Currently <%=@application.status%></h3>
<p><%=@application.name%></p>
<p><%=@application.address%></p>
<p><%=@application.description%></p>

<p>
    <% @application.pets.each do |pet| %>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
</p>

<% if @application.status == "In Progress" %>
    <%= form_with method: :get, local: true do |f| %>
    <%= f.label "Add a Pet to this Application" %></br>
    <%= f.text_field :search_app %>
    <%= f.submit "Submit" %>
    <% end %>
<% end %></br>

<% if @pets.present? %>
    <% @pets.each do |pet| %>
        <%= pet.name %> 
        <%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :get, params: { pet_id: pet.id } %>
    <% end %> 
<% end %> 
