
<p><%=@application.name%></p>
<p><%=@application.address%></p>
<p><%=@application.description%></p>
<p><%=@application.status%></p>
<p><% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
</p>
